.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* background-color: #1f1f1f;    */
    /* background-color:#91D2FC; */
    font-family: "Nunito", sans-serif;
    font-size: 16px;
}

nav .Container{
      font-weight: 800;
      background-color:#2C9DE8;
      
  /* background-color: #dee2e6; */

}
table{
}
table tbody{
        font-weight: 600;
        color: #D7D4D4;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

